.header__lang {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  gap: 18px;
}

@media screen and (max-width: 767px) {
  .header__lang-link {
    font-size: 18px;
    line-height: 1.11;
  }
}