.cover__title {
  max-width: 560px;
  font-weight: 900;
  font-size: 72px;
  line-height: 1.06;
  text-rendering: optimizeLegibility;
  text-align: center;
  margin: 0;
  position: relative;
}

@media screen and (max-width: 560px) {  
  .cover__title {
    max-width: 288px;
    font-size: 32px;
    line-height: 1.09;
  }
}